<tr>
    <td>{{content.ilabel}}</td>
    <td scope="row">{{content.iname}}</td>
    <td scope="row">{{content.ilanguage}}</td>
    <td scope="row">{{content.iversion}}</td>
    <td scope="row">
      <a href="{{ path('sir.download_instrument', {'type': 'plain', 'instrument': content.iuriencoded}) }}" target='_blank'>TXT</a> 
      <a href="{{ path('sir.download_instrument', {'type': 'html', 'instrument': content.iuriencoded}) }}" target='_blank'>HTML</a> 
      <a href="{{ path('sir.download_instrument', {'type': 'pdf', 'instrument': content.iuriencoded}) }}" target='_blank'>PDF</a>
    </td>   
    <td scope="row">
      <a href="{{ path('sir.download_instrument', {'type': 'rdf', 'instrument': content.iuriencoded}) }}" target='_blank'>RDF</a>
      <a href="{{ path('sir.download_instrument', {'type': 'fhir', 'instrument': content.iuriencoded}) }}" target='_blank'>FHIR</a> 
      REDCAP
    </td>
    <td scope="row">
      USAGE
    </td>
</tr>